@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black; /* Siyah tonuna yakın kapalı bir renk */
  color: white; /* Tüm yazılar beyaz renkte */
}

a {
  text-decoration: none; /* Alt çizgi kaldırma */
}

p, h1, h2, h3, h4, h5, h6 {
  color: inherit; /* Tüm başlık ve paragraf etiketleri ana renk (beyaz) alır */
}